.button {
  display: block;
  font-weight: 700;
  font-family: $ff-roboto-condensed;
  text-transform: uppercase;

  &--primary {
    font-size: 14px;
    line-height: 16px;
  }

  &--secondary {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.9px;
    border-radius: 3px;
  }
}
