.custom-input,
.custom-textarea {
  position: relative;

  &.is-invalid {
    input,
    textarea {
      outline: 1px solid $color-cerise;

      &:focus,
      &:hover {
        outline: 1.5px solid $color-cerise;
      }
    }
  }

  .input-message {
    position: absolute;
    top: -25px;
    left: 0;

    &.is-invalid {
      font-size: 11px;
      color: $color-black-pearl;
      line-height: 12px;
    }
  }

  &--checkbox {
    display: flex;

    .input-message {
      top: 2px;
    }
  }
}
