.custom-input,
.custom-textarea {
  position: relative;

  &.is-invalid {
    input,
    textarea {
      outline: 1px solid $color-black-pearl;

      &:focus,
      &:hover {
        outline: 1px solid rgba($color-black-pearl, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    top: -25px;
    left: 0;

    &.is-invalid {
      font-size: 11px;
      color: $color-black-pearl;
      line-height: 12px;
    }
  }

  &--checkbox {
    .input-message {
      top: 2px;
    }
  }
}
