.feedback {
  position: relative;
  background-color: $color-deep-sky-blue;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 100%;
    background-color: $color-black-pearl;
    opacity: 0.5;
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  @include vp-1023 {
    &::before {
      content: none;
    }
  }
}

.feedback__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 165px 0 249px 0;
  max-width: 1220px;
  color: $color-default-white;

  @include vp-1023 {
    padding: 45px 0 125px 0;
  }

  @include vp-767 {
    padding: 47px 0 89px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    background-image: image-set(
      url("./../img/background/paper-airplane@2x.webp") 2x,
      url("./../img/background/paper-airplane.webp") 1x,
      url("./../img/background/paper-airplane@2x.png") 2x,
      url("./../img/background/paper-airplane.png") 1x
    );
    background-repeat: no-repeat;
    background-position: 0 246px;
    background-size: 42% auto;

    @include vp-1023 {
      display: none;
    }
  }
}

.feedback__content {
  max-width: 585px;
  width: 50%;
  margin: 0 10px 0 auto;

  @include vp-1023 {
    max-width: 100%;
    width: 100%;
  }
}

.feedback__wrapper h2 {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 50.6px;
  font-family: $ff-roboto-condensed;

  @include vp-1023 {
    margin: 0 0 6px 0;
  }

  @include vp-767 {
    margin: 0 0 8px 0;
    font-size: 30px;
    line-height: 42.1px;
  }
}

.feedback__wrapper p {
  margin: 0 0 35px 5px;

  @include vp-1023 {
    margin: 0 0 26px 0;
  }

  @include vp-767 {
    margin: 0 0 34px 0;
    font-size: 14px;
    line-height: 18.8px;
  }
}
