.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
  align-items: center;
  margin: 0 0 0 5px;
  max-width: 580px;

  @include vp-1023 {
    margin: 0;
    max-width: 920px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.form__textarea {
  grid-column-start: 1;
  grid-column-end: 3;

  @include vp-767 {
    grid-column-end: 2;
  }
}

.form input,
.form textarea {
  display: block;
  padding: 15px 15px 16px 15px;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  background-color: $color-black-pearl-opacity;
  color: $color-default-white;

  &:hover {
    outline: 1px solid $color-black-pearl;
  }

  &:focus {
    outline: 1.5px solid $color-black-pearl;
  }

  &:disabled {
    background-color: $color-dim-gray;
    opacity: 0.4;
  }
}

.form textarea {
  padding: 25px 15px 20px 15px;

  @include vp-1023 {
    padding: 33px 15px 12px 15px;
  }

  @include vp-767 {
    padding: 26px 15px 12px 15px;
    min-height: 180px;
  }
}

.form input::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: $color-default-white;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: $color-default-white;
}

.form button {
  display: block;
  margin: 15px 0 0 0;
  padding: 15px 15px 11px 15px;
  max-width: 265px;
  min-height: 45px;
  font-weight: 700;
  font-family: $ff-roboto-condensed;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18.8px;
  letter-spacing: 0.9px;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
  user-select: none;

  @include vp-1023 {
    padding: 16px 15px;
    height: 45px;
  }

  @include vp-767 {
    margin: 10px 0 0 0;
    padding: 18px 15px 13px 15px;
    max-width: 270px;
    line-height: 14px;
    letter-spacing: 0.8px;
  }

  &:hover,
  &:focus {
    background-color: $color-columbia-blue;
    color: $color-black-pearl;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-black-pearl;
  }

  &:disabled {
    background-color: $color-dim-gray;
    color: $color-alice-blue;
  }
}

.form__checkbox label {
  position: relative;
  display: flex;
  margin: 29px 0 0 11px;
  padding: 0 0 0 25px;
  max-width: 260px;
  cursor: pointer;

  @include vp-1023 {
    margin: 20px 0 0 0;
  }

  @include vp-767 {
    margin: 5px 0 0 6px;
  }
}

.form__control-mark {
  position: absolute;
  top: 7px;
  left: -1px;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 1px;
}

.form__checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form__checkbox input[type="checkbox"]:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 9px;
  height: 5px;
  background-image: url("../../img/svg/checked.svg");
  background-repeat: no-repeat;
}

.form__checkbox label:hover .form__control-mark {
  border: 1px solid $color-black-pearl;
}

.form__checkbox input:focus + .form__control-mark {
  border: 1.5px solid $color-black-pearl;
}

.form__control-label {
  display: block;
  font-size: 14px;
  line-height: 15.7px;
}
