.header {
  position: fixed;
  width: 100%;
  min-height: 120px;
  background: $black-pearl-to-bottom;
  background-color: $color-default-black-opacity;
  z-index: 2;

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 60px 0 0;
  max-width: 1220px;

  @include vp-1023 {
    padding: 0;
  }
}

.header__logo {
  margin: 20px 15px 25px 0;
  padding: 10px 0;

  @include vp-1023 {
    margin: 10px 0 15px 0;
  }

  @include vp-767 {
    margin: 5px 0 10px 1px;
  }
}

.header__logo img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    margin: 0 20px 0 0;
  }

  @include vp-767 {
    margin: 0 10px 0 0;
  }
}

.header__contacts a {
  display: flex;
  min-width: 223px;
  margin: 30px 35px 40px -5px;
  padding: 15px 0;
  line-height: 18px;
  color: $color-alice-blue;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    min-width: 40px;
    margin: 20px 18px 40px 0;
    padding: 10px;
  }

  @include vp-767 {
    margin: 10px 18px 20px 0;
  }
}

.header__wrapper a:hover svg,
.header__wrapper a:hover span,
.header__wrapper a:focus svg,
.header__wrapper a:focus span {
  color: $color-columbia-blue;
}

.header__wrapper a:active svg,
.header__wrapper a:active span {
  color: $color-deep-sky-blue;
}

.header__wrapper a:disabled svg,
.header__wrapper a:disabled span {
  color: $color-dim-gray;
}

.header__contacts svg {
  margin: 0 15px 0 0;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin: auto;
  }
}

.header__contacts span {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  text-align: center;
  display: block;
  margin: 20px 0 30px 0;
  padding: 15px 0;
  font-weight: 700;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-alice-blue;

  @include vp-1023 {
    display: none;
  }
}

.header__button span {
  display: inline-block;
  width: 160px;
  height: 40px;
  padding: 10px 15px;
  letter-spacing: 0.7px;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
}

.header__button:hover span,
.header__button:focus span {
  border: 1px solid $color-columbia-blue;
}

.header__button:active span {
  border: 1px solid $color-deep-sky-blue;
}

.header__button:disabled span {
  border: 1px solid $color-dim-gray;
}
