.header {
  position: fixed;
  width: 100%;
  min-height: 120px;
  background: $black-pearl-to-bottom;
  z-index: 2;

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: 220px auto 220px;
  justify-content: space-between;
  gap: 36px;
  align-items: center;
  margin: 0 auto;
  max-width: 1220px;

  @include vp-1023 {
    display: flex;
    gap: 20px;
  }
}

.header__logo {
  margin: 20px 0 25px 0;
  min-width: 215px;
  padding: 10px 0;

  @include vp-1023 {
    margin: 10px 0 15px 0;
  }

  @include vp-767 {
    margin: 5px 0 10px 1px;
    min-width: 35px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__logo img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 32px;
  margin: 20px 0;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 19px;
    align-self: flex-start;
    margin: 20px 20px 20px 0;
    min-width: 100px;
  }

  @include vp-767 {
    margin: 10px 10px 10px 0;
  }
}

.header__contacts a {
  display: flex;
  padding: 10px 0;
  min-width: 220px;
  min-height: 50px;
  line-height: 18px;
  color: $color-alice-blue;

  @include vp-1023 {
    padding: 10px;
    min-width: 40px;
    min-height: 40px;
  }
}

.header__contacts-link:hover span,
.header__contacts-link:hover svg,
.header__contacts-link:focus span,
.header__contacts-link:focus svg {
  color: $color-columbia-blue;
}

.header__contacts-link:active span,
.header__contacts-link:active svg {
  color: $color-deep-sky-blue;
}

.header__contacts-link:disabled span,
.header__contacts-link:disabled svg {
  color: $color-dim-gray;
}

.header__contacts svg {
  margin: 0 15px 0 0;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin: auto;
  }
}

.header__contacts span {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  @include vp-1023 {
    display: none;
  }
}

.header__button a {
  display: inline-block;
  margin: 20px 0 30px 0;
  padding: 10px;
  width: 160px;
  min-height: 40px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  user-select: none;
  text-align: center;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
}

.header__button a:hover,
.header__button a:focus-visible {
  color: $color-columbia-blue;
  border: 1px solid $color-columbia-blue;
}

.header__button a:active {
  color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
}

.header__button a:disabled {
  color: $color-dim-gray;
  border: 1px solid $color-dim-gray;
}
