.header {
  position: fixed;
  width: 100%;
  min-height: 120px;
  background: $black-pearl-to-bottom;
  background-color: $color-default-black-opacity;
  z-index: 2;

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 60px 0 0;
  max-width: 1220px;

  @include vp-1023 {
    padding: 0;
  }
}

.header__logo {
  margin: 20px 15px 25px 0;
  padding: 10px 0;

  @include vp-1023 {
    margin: 10px 0 15px 0;
  }

  @include vp-767 {
    margin: 5px 0 10px 1px;
  }
}

.header__logo img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  min-width: 481px;

  @include vp-1023 {
    margin: 0 20px 0 0;
    min-width: 100px;
  }

  @include vp-767 {
    margin: 0 10px 0 0;
  }
}

.header__contacts-link {
  min-width: 229px;
  margin: 30px 23px 40px 0;

  @include vp-1023 {
    min-width: 40px;
    margin: 5px 18px 25px 0;
    padding: 10px;
  }

  @include vp-767 {
    margin: 0 18px 10px 0;
    padding: 5px 10px;
  }
}

.header__contacts .header__contacts-link:last-child {
  margin-right: 0;
}

.header__contacts a {
  display: flex;
  padding: 15px 0;
  line-height: 18px;
  color: $color-alice-blue;
}

.header__contacts-link:hover span,
.header__contacts-link:hover svg,
.header__contacts-link:focus span,
.header__contacts-link:focus svg {
  color: $color-columbia-blue;
}

.header__contacts-link:active span,
.header__contacts-link:active svg {
  color: $color-deep-sky-blue;
}

.header__contacts-link:disabled span,
.header__contacts-link:disabled svg {
  color: $color-dim-gray;
}

.header__contacts svg {
  margin: 0 15px 0 0;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin: auto;
  }
}

.header__contacts span {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  @include vp-1023 {
    display: none;
  }
}

.header__button a {
  display: inline-block;
  margin: 20px 0 30px 0;
  padding: 10px;
  width: 160px;
  height: 40px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  user-select: none;
  text-align: center;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
}

.header__button a:hover,
.header__button a:focus {
  color: $color-columbia-blue;
  border: 1px solid $color-columbia-blue;
}

.header__button a:active {
  color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
}

.header__button a:disabled {
  color: $color-dim-gray;
  border: 1px solid $color-dim-gray;
}
