.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: $color-black-opacity;
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    margin: 86px 0 0 0;
    padding: 60px 50px;

    @include vp-1023 {
      margin: 0;
      align-items: center;
    }

    @include vp-767 {
      padding: 60px 25px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    max-width: 500px;
    margin: 0 0 0 -16px;
    padding: 37px 40px 45px 40px;

    color: $color-default-white;
    background-color: $color-deep-sky-blue;
    border-radius: 3px;

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      width: 100%;
      padding: 40px 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      top: 20px;
      left: 6px;
      width: 28px;
      height: 1px;
      background-color: $color-default-white-opacity;
      transform: rotate(45deg);
    }

    &::before {
      position: absolute;
      content: "";
      top: 6px;
      left: 19px;
      width: 1px;
      height: 28px;
      background-color: $color-default-white-opacity;
      transform: rotate(45deg);
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__content h2 {
  margin: 0 0 4px 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 30px;
  line-height: 42.2px;
}

.modal__content p {
  margin: 0 0 38px 0;
}

.modal__form input,
.modal__form textarea {
  display: block;
  margin: 0 0 20px 0;
  padding: 15px 15px 16px 15px;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  background-color: $color-black-pearl-opacity;
  color: $color-default-white;

  &:hover {
    outline: 1px solid $color-black-pearl;
  }

  &:focus {
    outline: 1.5px solid $color-black-pearl;
  }

  &:disabled {
    background-color: $color-dim-gray;
    opacity: 0.4;
  }
}

.modal__form textarea {
  margin: 0 0 25px 0;
  padding: 25px 15px 20px 15px;
}

.modal__form input::-moz-placeholder,
.modal__form textarea::-moz-placeholder {
  color: $color-default-white;
}

.modal__form input::-webkit-input-placeholder,
.modal__form textarea::-webkit-input-placeholder {
  color: $color-default-white;
}

.modal__form button {
  display: block;
  margin: 0 0 20px 0;
  padding: 15px 25px;
  width: 100%;
  height: 45px;
  font-weight: 700;
  font-family: $ff-roboto-condensed;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18.8px;
  letter-spacing: 0.9px;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;

  &:hover,
  &:focus {
    background-color: $color-columbia-blue;
    color: $color-black-pearl;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-black-pearl;
  }

  &:disabled {
    background-color: $color-dim-gray;
    color: $color-alice-blue;
  }
}

.modal__form-checkbox-block label {
  position: relative;
  padding: 0 0 0 34px;
  display: block;
  cursor: pointer;
}

.modal__form-control-mark {
  position: absolute;
  top: 1px;
  left: 9px;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 1px;
}

input[type="checkbox"]:checked + .modal__form-control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 9px;
  height: 5px;
  background-image: url("../../img/svg/checked.svg");
  background-repeat: no-repeat;
}

label:hover .modal__form-control-mark {
  border: 1px solid $color-black-pearl;
}

.modal__form-control-label {
  display: block;
  font-size: 14px;
  line-height: 15.7px;
}

.modal__form {
  .input-message {
    top: -15px;
  }
}
