.products {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.products__wrapper {
  margin: 0 auto;
  padding: 65px 0 140px 0;
  max-width: 1220px;

  @include vp-1023 {
    padding: 56px 0 75px 0;
  }

  @include vp-767 {
    padding: 47px 0 86px 0;
  }
}

.products__wrapper h2 {
  font-weight: 400;
  font-family: $ff-roboto-condensed;
}

.products__title-desktop-tablet {
  margin: 0 0 55px 0;
  font-size: 36px;
  line-height: 50.6px;

  @include vp-1023 {
    margin: 0 0 39px 0;
  }

  @include vp-767 {
    display: none;
  }
}

.products__title-mobile {
  display: none;

  @include vp-767 {
    display: block;
    margin: 0 0 28px 0;
    max-width: 260px;
    font-size: 28px;
    line-height: 39.4px;
  }
}

.products__wrapper ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: space-between;
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 30px;
    justify-items: stretch;
  }
}

.products__item {
  max-width: 350px;
  min-height: 650px;
  background-color: $color-east-bay;

  @include vp-1023 {
    max-width: 100%;
    min-height: 250px;
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-columbia-blue;
  }

  &:active {
    outline: 1px solid $color-deep-sky-blue;
  }
}

.products__item:first-child {
  justify-self: start;

  @include vp-1023 {
    justify-self: stretch;
  }
}

.products__item:last-child {
  justify-self: end;

  @include vp-1023 {
    justify-self: stretch;
  }
}

.products__wrapper a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: $color-default-white;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    background-image: url("./../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: 29px 25px;
    background-size: 5px;
    border-top-left-radius: 3px;

    @include vp-767 {
      width: 40px;
      height: 40px;
      background-position: 20px 17px;
      background-size: 3px;
    }
  }
}

.products__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1023 {
    height: 250px;
  }
}

.products__item--production img {
  @include vp-767 {
    object-position: 57% 50%;
  }
}

.products__item--mounting img {
  @include vp-767 {
    object-position: 30% 50%;
  }
}

.products__item--accessories img {
  @include vp-767 {
    object-position: 64% 50%;
  }
}

.products__item h3 {
  position: absolute;
  top: 47px;
  left: 40px;
  overflow: auto;
  margin: 0;
  max-width: 170px;
  max-height: 545px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: $ff-roboto-condensed;

  @include vp-1023 {
    top: 37px;
    left: 45px;
    max-width: 150px;
    max-height: 180px;
  }

  @include vp-767 {
    top: 26px;
    left: 30px;
    max-width: 135px;
    font-size: 18px;
  }
}
